.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-wrapper {
  padding: 10px;
  margin-bottom: 1.5em;
}

#add-birthday {
  display: flex;
  justify-content: flex-start;
}



