@import './variables';

body, html {
  font-family: 'Lato', Arial, sans-serif;
  color: $primary-text;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h2.subheading {
  margin-top: 0;
}

.wrapper {
  padding: 0 10px 0 10px;
}

.subheading-span {
  display: flex;
  align-items: baseline;
  padding-top: 1.5em;
}

.background-wrapper {
  width: 100%;
  margin: 0;
  min-height: 400px;
  padding-bottom: 2em;
}

.background-wrapper.red {
  background-color: $secondary-background;
}

.wrapper.red {
  color: $secondary-text;
}

.card {
  display: flex;
  justify-content: space-between;
  line-height: 1px;
  box-shadow: 0 1px 0.2px #959595;
  -webkit-box-shadow: 0.2px 1px 1px 0.2px #959595;
  border-radius: 2px;
  width: 100%;
  height: 150px;
  color: $primary-text;
  background-color: $primary-background;
  padding-left: 10px;
  white-space: normal;
  overflow: hidden;
}

.interact-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  margin: 5px 5px 8px 0;
  align-items: flex-end;
}

.remove {
  color: $primary-text;
  margin-top: 2px;
  opacity: 0.7;
}

.add-to-my-birthdays {
  color: $secondary-background;
  font-size: 150%;
  margin-bottom: 7px;
}


h2.name {
  font-size: 150%;
}

h3 {
  font-size: 90%;
}

h3.age {
  font-size: 400%;
}

small {
  padding-left: 5px;
}

.content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 0.25fr);
  width: 98.5%;
}

.time-to-next {
  font-size: 130%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2em;
  color: $secondary-background
}

@media only screen and (max-width: 800px) {
  .content {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media only screen and (max-width: 400px) {
  .wrapper {
    width: 93.5%;
  }

  .content {
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .inner-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .submit {
    width: 100%;
  }

}
