<div class="background-wrapper red">
  <div class="wrapper red">
    <span><h2 class="subheading">My Birthdays</h2></span>
    <div class="content">
      <div class="card" *ngFor="let birthday of birthdays">
        <h2 id="name">{{birthday.name}}</h2>
        <h3 id="dob">{{birthday.birthday | date: 'longDate'}}</h3>
        <div class="detail">
          <div class="time-to-next">{{birthday.age +1}} in {{birthday.timeToNext}} days.</div>
        </div>
      </div>
    </div>
  </div>
</div>
