<div class="background-wrapper red">
  <div class="wrapper red">
    <span class="subheading-span"><h2 class="subheading">My Birthdays</h2></span>
    <div class="content">
      <div class="card" *ngFor="let birthday of birthdays">
        <div class="main">
          <h2 class="name">{{birthday.name}}</h2>
          <h3 class="dob">{{birthday.birthday | date: 'longDate'}}</h3>
          <div class="detail">
            <div *ngIf="birthday.timeToNext > 1" class="time-to-next">{{birthday.age +1}} in {{birthday.timeToNext}}
              days.
            </div>
            <div *ngIf="birthday.timeToNext == 1" class="time-to-next">{{birthday.age +1}} tomorrow!</div>
            <div *ngIf="birthday.timeToNext == 0" class="time-to-next">{{birthday.age}} today!</div>
          </div>
        </div>
        <div class="interact-btn">
          <div (click)="removeBirthday(birthday)" class="remove">x</div>
        </div>
      </div>
    </div>
  </div>
</div>
