<!--<section class="wrapper">-->
  <!--<div class="content-wrapper" *ngIf="!selectedBlog">-->
    <!--<h1>{{title | uppercase}}</h1>-->

    <!--<div class="content">-->
      <!--<div (click)="onSelect(blog)" routerLink="/blog/{{blog.id}}" class="card blog" *ngFor="let blog of blogs">-->
        <!--<div class="img-container">-->
          <!--<img [src]="blog.image" alt="blog image" class="image">-->
        <!--</div>-->
        <!--<h2 class="title">{{blog.title}}</h2>-->
        <!--<div class="description">{{blog.description}}</div>-->
        <!--<div class="tags">-->
          <!--<a (click)="loadTags(ta)" class="tag" *ngFor="let ta of blog.tag">{{ta}}</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
