.search-wrapper {
  display: flex;
  justify-content: center;
  height: 50px;
  position: relative;
}

.search-box {
  width: 100%;
  align-self: center;
  border-radius: 5px;
}

#clear-box {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  font-size: 150%;
  top: 0;
  right: 0;
  width: 100px;
  height: 20px;
  z-index: 100;
  opacity: 0.5;
  border: none;
  margin: 7px 15px 0 0;
  outline: none;

}

input {
  border: 0;
  height: 30px;
  box-shadow: 0.5px 0.5px 2px #363434 inset;
  border-radius: 1px;
  outline: none;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

